canvas {
  width: 100%;
  height: 100%;
  position: absolute;
  top: 0;
  left: 0;
  z-index: -1;
  background-color: black;
}

.navbar {
  position: absolute;
  top: 8rem;
  left: 5rem;
  width: 6%;
  height: 60vh;
  overflow: auto;
  background: #20201d;
  border-radius: 5px;
}

.navbar-nav {
  align-items: center;
  gap: 2rem;
}

.navbar-nav a {
  color: #c9c7b6;
  font-size: 0.8em;
  border-bottom: 1px solid #c9c7b6;
}

.profile {
  position: absolute;
  top: 2rem;
  left: 11rem;
  width: 40%;
  height: 90vh;
  background: #20201d;
  border-radius: 5px;
  display: flex;
  flex-direction: column;
  align-items: center;
  overflow: hidden;
}
